:root {
    --ms_primary_color: #1ABC9C;
    --ms_background_color: #2C3D50;
}

.debug .box {
    background-color: greenyellow;
    min-height: 200px;
    width: 100%;
    border: #fff 1px solid;
}

.ms_navbar, 
#footer-btm {
    background-color: var(--ms_background_color);
}

.ms_link:hover {
    color: var(--ms_primary_color)!important;
}

#jumbotron,
#about {
    background-color: var(--ms_primary_color);
}

.ms_btn {
    background-color: var(--ms_primary_color);
    border: var(--ms_primary_color) 1px solid;
    color: #fff;
} 

#footer-top {
    background-color: #39546D;
}
